<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Landing Page - Start Bootstrap Theme</title>

    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

    <link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Vg4vYH8k9F8xZjs4gFmfD9dwVlP2ksImqQyr3aR0nmUM+5yt1U5G+1SwpjQZvlm9wzXZ0W6G3Y/8M/GKdbA29g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Ingresar</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registrate</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_tutores' %}">Profesores</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_cursos' %}">Cursos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_alumnos' %}">Alumnos</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">App de CoderHouse</h1>
                </div>
            </div>
        </div>
    </header>
   
    <!-- INICIO MI CONTENIDO -->
    <div class="container">
        {% block contenido %}
        {% endblock %}
    </div>
    <!-- FIN MI CONTENIDO -->
   
    <!-- Footer-->
    <footer class="footer bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Your Website 2024. All Rights Reserved.</p>
                </div>

            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
